## Задание №1
Задание: 
1.	Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
2.	Считать данные с помощью pandas
3.	Вывести на экран первые 5 строк
4.	Посмотреть на описание признаков и на их содержание

1.	Company - компания, которая производит ноутбуки
2.	 Product - имя ноутбука
3.	TypeName - тип ноутбука
4.	Inches - диагональ
5.	ScreenResolution - разрешение ноутбука
6.	Cpu - процессор
7.	Ram - ОЗУ
8.	Memory - память
9.	Gpu - видеокарта
10.	OpSys - операционная система
11.	Weight - вес ноутбука
12.	Price_euros - стоимость ноутбука

In [18]:
import pandas as pd

df = pd.read_csv('laptops.csv', sep=';')
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

## Задание №2
Задание: 
Проведите первичный анализ данных
1.	Изучите типы данных
2.	Найдите количество пропущенных ячеек в данных
3.	Посчитайте основные статистики по всем признакам и поизучайте их

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   Product           1303 non-null   object
 2   TypeName          1303 non-null   object
 3   Inches            1303 non-null   float64
 4   ScreenResolution  1303 non-null   object
 5   Cpu               1303 non-null   object
 6   Ram               1303 non-null   object
 7   Memory            1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price_euros       1303 non-null   float64
dtypes: float64(2), object(10)
memory usage: 122.3+ KB

In [20]:
df.describe()

            Inches  Price_euros
count  1303.000000  1303.000000
mean     15.017191  1123.686992
std       1.426304   699.009043
min      10.100000   174.000000
25%      14.000000   599.000000
50%      15.600000   977.000000
75%      15.600000  1487.880000
max      18.400000  6099.000000

In [21]:
df.describe(include=['object'])

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

## Задание №3

3.1 Ноутбуков от какой компании больше всего в наборе данных?

In [22]:
df['Company'].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?

In [23]:
df['Price_euros'].min(), df['Price_euros'].max()

(174.0, 6099.0)

3.3 Какой самый дорогой ноутбук в данных?
Выведите все характеристики только по этому ноутбуку
Если таких ноутбуков несколько, то выводите их всех

In [24]:
df.sort_values('Price_euros', ascending=False).iloc[0]

Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

## Задание №4

4.1 Найдите ноутбуки с самой маленькой диагональю в данных?
Выведите только следующие характеристики:
1.	Компания
2.	Типа ноутбука
3.	Диагональ
4.	Стоимость

In [25]:
df[df['Inches'] == df['Inches'].min()][['Company', 'TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

4.2 Сколько стоит самый дорогой ноутбук у компании HP?

In [26]:
df[df['Company'] == 'HP']['Price_euros'].max()

4389.0

4.3 Как много ноутбуков Ultrabook с 8GB RAM?

In [27]:
df[(df['TypeName'] == 'Ultrabook') & (df['Ram'] == '8GB')].shape[0]

140

5.1 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в стоимости до 500 евро, сколько у него вариантов?

In [28]:
df[
    (df['OpSys'] == 'Windows 10') &
    (df['Ram'].isin(['8GB', '16GB'])) &
    (df['Price_euros'] < 500)
].shape[0]

13

5.2 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX 1050 Ti и главное не с диагональю 15.6. В какой ценовой категории вышли подобные ноутбуки?

In [29]:
clients_choice = df[
    (df['Company'] == "MSI") &
    ~(df['Inches'] == 15.6) &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti')
]
clients_choice['Price_euros']

330     1199.00
393     1349.00
724     1348.48
917     1599.00
1156    1492.80
Name: Price_euros, dtype: float64

5.3 Что дешевле?
В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel Core i7 7600U 2.8GHz?

In [30]:
df[df['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz']['Price_euros'].mean()

1760.4084246575342

In [31]:
df[df['Cpu'] == 'Intel Core i7 7600U 2.8GHz']['Price_euros'].mean()

1915.710769230769

## Задание 6.
Найдите самый легкий ноутбук
Но обратите внимание на тип и представление данных в признаке Weight, если что, замените в строке 'kg' на пустую строку через метод .str.replace()

In [32]:
df['Wright'] = df['Weight'].str.replace('kg', '')
df['Wright'].min()

'0.69'